<button class="sidebar-toggle">☰ Stories</button>

<div class="sidebar" id="sidebar">
    <h3></h3>
    <br><br>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#perception">Perceptions</a></li>
        <li><a href="#headstones">Gravestones</a></li>
        <li><a href="#vault">The Vault</a></li>
        <li><a href="#nanny">Nannie</a></li>
        <li><a href="#estes">Estes</a></li>
        <li><a href="#crusor">Crusor</a></li>
        <li><a href="#beckett">Beckett</a></li>
        <li><a href="#turners">The Turners</a></li>
        <li><a href="#jennings">Jennings</a></li>
        <li><a href="#jeffries">Jeffries</a></li>
        <li><a href="#references">References</a></li>
    </ul>
</div>
