<button class="sidebar-toggle">Stories</button>

<div class="sidebar" id="sidebar">
    <h3></h3>
    <ul>
        <li><a href="#about-the-collection">About the Collection</a></li>
        <li><a href="#dr-collin-b-crusor">Dr. Collin B. Crusor</a></li>
        <li><a href="#story-2">The Story of Nanny</a></li>
        <li><a href="#story-3">Frances Poindexter</a></li>
        <li><a href="#story-4">STORY 4</a></li>
        <li><a href="#story-5">STORY 5</a></li>
        <li><a href="#story-6">STORY 6</a></li>
        <li><a href="#story-7">STORY 7</a></li>
        <li><a href="#story-8">STORY 8</a></li>
        <li><a href="#story-9">Story 9</a></li>
        <li><a href="#story-10">STORY 10</a></li>
    </ul>
</div>
