---
# base CSS for collectionbuilder
# includes some theming elements
# pulled in from "theme.yml" and "config-theme-colors.csv"
---
@charset "utf-8";

/* base variables pulled from theme.yml */
$base-font-family: {{ site.data.theme.base-font-family | default: '""' }};
$base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
$text-color: {{ site.data.theme.text-color | default: '""' }};
$link-color: {{ site.data.theme.link-color | default: '""' }};

/* theme colors pulled from config-theme-colors */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% if btns != empty %}
{% for btn in btns %}
{% assign color = btn.color | strip %}{% if color != empty %}
${{ btn.color_class | slugify }}: {{ color }};{% endif %}
{% endfor %}
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    {% for btn in btns %}{% assign color = btn.color | strip %}{% if color != empty %}
    "{{ btn.color_class | slugify }}": ${{ btn.color_class | slugify }}{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  ),
  $theme-colors
);
@import "theme-colors", "theme-utilities";
{% endif %}

@import "base", "pages", "custom";

.sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100vh;
  background: #022344;
  padding: 45px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar h3 {
  color: #FFFFFF;
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background: #b48f02;
  color: white;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #022344;
  color: white;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  z-index: 1100;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background 0.3s ease-in-out;
}

.sidebar-toggle:hover {
  background: #b3995d;
}


@media screen and (max-width: 768px) {
  .sidebar {
      left: -270px;
      width: 250px;
  }

  .sidebar.active {
      left: 0;
  }

  .sidebar-toggle {
      top: 15px;
      left: 15px;
  }
}






